#right-side{
    text-align: center;
}

#left-side{
    text-align: center;
}

body{
    margin: 2vw;
}
.hero-body{
    word-spacing: 1px;
 
}
#searchbar{
    margin: 20px 0px 0px 0px;
    background-color: lightgray;
    border-color: black ;
    border-style: outset;
    border: 2px;
    
}
#searchbar:hover{
   
    border-style: outset;
    border-color:aqua ;
    background-color: lightblue;
}

#herobanner{
    margin-bottom: 20px;
    border-radius: 6px;
}

#searchbanner{
    margin: 3px 10px 10px 10px;
    border-radius: 6px;
}

button{
    margin: 10px 0px 20px 0px
}


#trendingbanner{
    margin: 3px 10px 10px 10px;
    border-radius: 6px;
}

body{
    background-color: #FCF5E5;
}

html{
    background-color: #FCF5E5;
}

h2{
    font-size: larger;
    font-weight: 700;
}

#searchednews p{
    max-height: 240px;
    width: auto;
    overflow: hidden;
    font-weight: 500;
    
}

#trending p{
    max-height: 240px;
   width: auto;
    overflow: hidden;
    font-weight: 500;
   
}


#searchednews button{
   padding: 10px;
   margin: 10px;
}

#trending button{
  padding: 10px;
  margin: 10px;
}

#speech{
    border-radius: 100px;
    text-align: center;
    height: 50px;
    width: 50px;
    background: url(https://www.svgrepo.com/show/375847/mic.svg);
    background-size: 100% 100%;
   margin: 15px 0px 0px 0px;
}

img {
    max-height: 300px;
    width: 400px;
}
#trendingSel{
    text-align: center;
    border-radius: 30px;
    font-style: italic;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',  Verdana, sans-serif;
    background-color:aquamarine;
    border-style: outset;
    border: 5px;
    margin-bottom: 20px;
}


#searchbtn{
    color: black;
    box-shadow: 20px 20px 50px 10px aquamarine inset;
    transition: .5s;
}
#searchbtn:hover{
   color: black;
   box-shadow: 20px 20px 50px 10px aquamarine inset;
   border-radius: 50px;
   border-style: outset;
   border-color:aqua ;
}

#trendingArrows{
    display: flex;
    justify-content:space-between;
    
    
}
#trendingArrowR,#trendingArrowL{
   font-size: larger;
   background-color: #4682B4;
   color:white;
   right:300px;
   margin: 5px;
   padding: 5px;
   border-radius: 15px;
}


#searchedArrows{
    display: flex;
    justify-content:space-between;
    
}

#searchedArrowR,#searchedArrowL{
    font-size: larger;
   background-color: #4682B4;
   color:white;
   margin: 5px;
   padding: 5px;
   border-radius: 15px;
}


#savednewslink,#trendingnewslink{
  font-size: larger;
  padding: 5px;
   position: absolute;
  

    
}

#savednewslink:hover{
color: black;
}
#trendingnewslink:hover{
    color: black;
}

.deleteBtn{
background-color: #D2042D ;
}

.deleteBtn:hover{
    background-color: #880808;
}

.loading{
    width: 150px;
    height: 150px;
}


button{
    background-color:#4682B4;
    border-radius: 50px;
    border: 2px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    cursor:pointer;
    
}
button:hover{
    background-color: lightcoral;
    border-radius: 50px;
    color:white;
}
#pagenumtrending{
    font-weight: 500;
    
}
#pagenumsearch{
    font-weight: 500;
    
}
