#right-side{
    text-align: center;
}

#left-side{
    text-align: center;
}

body{
    margin: 2vw;
}

 #searchbar{
    margin-top:  20px;
} 

#herobanner{
    margin-bottom: 20px;
    border-radius: 6px;
}

#searchbanner{
    margin: 3px 10px 10px 10px;
    border-radius: 6px;
}

button{
    margin: 40px 0px 40px 0px
}

#trendingbanner{
    margin: 3px 10px 10px 10px;
    border-radius: 6px;
}

body{
    background-color: #FCF5E5;
}

html{
    background-color: #FCF5E5;
}

h2{
    font-size: larger;
    font-weight: 600;
}
.desc{
    max-height: 300px;
    width: auto;
    
    overflow: hidden;
}
#searchednews p{
    max-height: 240px;
    width: auto;
    
    overflow: hidden;
}

#trending p{
    max-height: 240px;
    width: auto;
    
    overflow: hidden;
}


#searchednews button{
   padding: 5px;
   margin: 10px;
}

#trending button{
  padding: 5px;
  margin: 10px;
}

#speech{
    border-radius: 100px;
    text-align: center;
    height: 50px;
    width: 50px;
    background: url(https://www.svgrepo.com/show/375847/mic.svg);
    background-size: 100% 100%;
   margin: 15px 0px 0px 0px;
}

img {
    max-height: 200px;
    width: 300px;
}

